<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        li {
            list-style-type: none;
        }
        ul {
            margin: 0;
            padding: 0;
        }
    </style>
    <title>Users</title>
</head>
<body>
<table border="1" align="center">
    <caption>Пользователи</caption>
    <tr>
        <td align="center">Пользователь</td><td align="center">Пароль</td><td align="center">Имя</td><td>Фамилия</td><td>Возраст</td><td>Роли</td>
        <td>Активен</td><td>Изменить</td><td>Удалить</td>
    </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <ul th:each="role : ${user.getRoles()}">
                    <li th:text="${role.getRole()}"></li>
                </ul>
            </td>
            <td>
                <div th:if="${user.getEnabled()} == 0" align="center">Нет</div>
                <div th:if="${user.getEnabled()} != 0" align="center">Да</div>
            </td>
            <form>
                <input type="hidden" name="id" th:value="${user.getId()}">
                <td><div align="center"><input type="submit" value="Изменить" formaction="/admin/update" formmethod="get"></div></td>
                <td><div align="center"><input type="submit" value="Удалить" formaction="/admin/users" formmethod="post"></div></td>
            </form>
        </tr>
</table>
<div align="center">
    <form action="/admin/add" method="get">
        <input type="submit" value="Добавить">
    </form>
</div>
<a href="/logout">Logout</a>
</body>
</html>